
body {
	background-color: #729fcf;
    padding: 12px;
}

table {
    width: 100%;
}

table tr td,th {
    margin: 0px;
    border: 0px;
}

table tr th {
    border-bottom: 1px solid black;
}

.pageTitle {
	font-size:200%;
}