<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Add New Inventory</title>
        <h:outputStylesheet name="styles.css"/>
    </h:head>
    
    <h:body>
        <h:outputText value="Add New Inventory" styleClass="pageTitle" />
        <br/>
        <h:form id="newInventoryForm">
            <h:panelGrid columns="3">
                <h:outputText value="Name:"/>
                <h:inputText id="iventoryName" value="#{newInventoryBean.inventoryName}" required="true" requiredMessage="Please choose name" />
                <h:message for="inventoryName"/>
                
                <h:outputText value="Weight:"/>
                <h:inputText id="inventoryWeight" value="#{newInventoryBean.inventoryWeight}" required="true" requiredMessage="Please choose weight" />
                <h:message for="inventoryWeight"/>

                <h:outputText value="Sector #:"/>
                <h:inputText id="inventorySector" value="#{newInventoryBean.inventorySector}" required="true" requiredMessage="Please choose sector" >
                	<f:validateLongRange minimum="1" maximum="40"  />
                </h:inputText>
                <h:message for="inventorySector"/>
                
                <h:outputText value="Date:"/>
                <p:calendar id="inventoryDate" value="#{newInventoryBean.inventoryDate}" required="true" 
                pattern="yyyy-MM-dd" readonlyInput="true" requiredMessage="Please choose a date" />
                <h:message for="inventoryDate"/>
                
            </h:panelGrid>
            <h:commandButton action="#{newInventoryBean.save()}" value="Add"/>
        </h:form>
        <p:commandButton action="main" value="Back to main" />
        
    </h:body>
</html>
