<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Add New Customer</title>
        <h:outputStylesheet name="styles.css"/>
    </h:head>
    
    <h:body>
        <h:outputText value="Add New Customer" styleClass="pageTitle" />
        <br/>
        <h:form id="newCustomerForm">
            <h:panelGrid columns="3">
                <h:outputText value="Name:"/>
                <h:inputText id="clientName" value="#{newClientBean.clientFirstName}" required="true" requiredMessage="Please choose name" />
                <h:message for="clientName"/>
                
                <h:outputText value="Surname:"/>
                <h:inputText id="clientSurname" value="#{newClientBean.clientLastName}" required="true" requiredMessage="Please choose surname" />
                <h:message for="clientSurname"/>
                
                <h:outputText value="Date:"/>
                <p:calendar id="clientBirthDate" value="#{newClientBean.clientBirthDate}" required="true" 
                pattern="yyyy-MM-dd" readonlyInput="true" requiredMessage="Please choose a date" />
                <h:message for="clientBirthDate"/>
                
                <h:outputText value="Phone #:"/>
                <h:inputText id="clientPhoneNo" value="#{newClientBean.clientPhoneNumber}" required="true" requiredMessage="Please choose phone No" />
                <h:message for="clientPhoneNo"/>
                
                <h:outputText value="Client type:"/>
                <h:inputText id="clientType" value="#{newClientBean.clientType}" required="true" requiredMessage="Please choose client type" />
                <h:message for="clientType"/>
                
            </h:panelGrid>
            <h:commandButton action="#{newClientBean.save()}" value="Add"/>
        </h:form>
        <p:commandButton action="main" value="Back to main" />
    </h:body>
</html>
