<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>View Customer</title>
        <h:outputStylesheet name="styles.css"/>
    </h:head>
    
     <h:body>
        <h:outputText value="View Customer" styleClass="pageTitle" />
        <br/>
     
        <h:form id="tableActionForm">
            <h:dataTable value="#{clientViewBean.client}" var="client">
                <h:column>
                    <f:facet name="header">
                        First Name
                    </f:facet>
                    <h:outputText value="#{client.firstName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Last Name
                    </f:facet>
                    <h:outputText value="#{client.lastName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Birth date
                    </f:facet>
                    <h:outputText value="#{client.birthDate}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Phone number
                    </f:facet>
                    <h:outputText value="#{client.phoneNumber}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Client type
                    </f:facet>
                    <h:outputText value="#{client.clientType}"/>
                </h:column>

            </h:dataTable>
        </h:form>
        <h:form id="actionForm">
            <h:commandButton id="addNewInventoryBtn" action="addNewInventory" value="Add New Inventory"/>
        </h:form>
		<br /><br />
		
        <h:form id="inventoryListForm">
            <h:dataTable value="#{clientViewBean.getInventoryList(client)}" var="invetory">
                <h:column>
                    <f:facet name="header">
                        Name
                    </f:facet>
                    <h:outputText value="#{inventory.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Weight
                    </f:facet>
                    <h:outputText value="#{inventory.weight}"/>
                </h:column>
               <h:column>
                    <f:facet name="header">
                        Sector
                    </f:facet>
                    <h:outputText value="inventory.sector"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Date
                    </f:facet>
                    <h:outputText value="inventory.date"/>
                </h:column>
                <h:column>
                    <f:facet name="header">
                        Actions
                    </f:facet>
                    <h:commandLink actionListener="#{clientViewBean.removeInventory(inventory)}" value="Delete"/>
                </h:column>
            </h:dataTable>
        </h:form>
        <p:commandButton action="main" value="Back to main" />

    </h:body>
</html>
