<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Inventory view</title>
        <h:outputStylesheet name="styles.css"/>
    </h:head>
    
    <h:body>
        <h:outputText value="Inventory view" styleClass="pageTitle" />
        <br/>
     
        <h:form id="topClientsInventoryForm">
            <h:dataTable value="#{inventoryReportBean.topTotalWeight()}" var="client">
                <h:column>
                    <f:facet name="header">
                        Top total weight - Client name
                    </f:facet>
                    <h:outputText value="#{client.firstName}"/>
                </h:column>		
            </h:dataTable>
            <h:dataTable value="#{inventoryReportBean.topTotalQuantity()}" var="client">
                <h:column>
                    <f:facet name="header">
                        Top total quantity - Client name
                    </f:facet>
                    <h:outputText value="#{client.firstName}"/>
                </h:column>		
            </h:dataTable>
            
            <h:dataTable value="#{inventoryReportBean.topWeight()}" var="client">
                <h:column>
                    <f:facet name="header">
                        Top weight - Client name
                    </f:facet>
                    <h:outputText value="#{client.firstName}"/>
                </h:column>		
            </h:dataTable>
            <h:dataTable value="#{inventoryReportBean.topQuantity()}" var="client">
                <h:column>
                    <f:facet name="header">
                        Top quantity - Client name
                    </f:facet>
                    <h:outputText value="#{client.firstName}"/>
                </h:column>		
            </h:dataTable>
 
        </h:form>
        
        <p:commandButton action="main" value="Back to main" />
    </h:body>
</html>
